.master-data-input {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    width: 100%;
}

.p-inputtext-sm .p-inputtext {
    font-size: 0.875rem;
    padding: 0 !important;
}