<div class="header">

<div class="row">
    <div class="col-2 headercolumn1" >

        <img src="assets/images/Cardit.com - HomePage-02.png" style="height: 7vh;margin: 10px;">
    <span class="fa fa-bars"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="    display: flex;
    justify-content: center;
    align-items: center;"></span>

         <div class="offcanvas offcanvas-start" style="background-color: #004751 ;width: inherit;" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel"><img src="assets/images/Cardit.com - HomePage-02.png" style="height: 30px;"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          
        </div>
          <div class="offcanvas-body">
            <ul style="color: #cee812;list-style: none;
            padding: 5px;
            line-height: 3;">
                <li>Avatar Masters</li>
           <li>Charges Discount</li>
           <li>City Masters</li>
           <li>Config Values</li>
           <li>Customer Details</li>
          <li>Customer Masters</li> 
           <li>Data Types</li>
           <li> Datas</li>
           <li>Discounts</li>
           <li>Geo Accesses</li>
           <li>Geography Masters</li>
            </ul>
           

        </div> 
          </div>
        </div>
        <!-- <div class="headermain">
            <a  href="#" style="margin: 5px;" >philippins</a>
       
            <hr>
            <a  href="#" style="margin:5px;" [disabled]="true">UAE</a>
        </div> -->
       

    <div class="col-8 headermenu">
        <ul class="list-inline">
            <!-- <li style="margin-right: 15px;"><a href="#">Home</a></li>
            <li style="margin-right: 15px;"><a href="#">How it works ?</a></li>
            <li style="margin-right: 15px;"><a href="#">Pricing</a></li>
            <li style="margin-right: 15px;"><a href="#">Split Expense</a></li>
            <li style="margin-right: 15px;"><a href="#">Refer a friend</a></li>
            <li style="margin-right: 15px;"><a href="#">About us</a></li>
            <li style="margin-right: 15px;"><a href="#">Contact us</a></li> -->
          </ul>
    </div>
    <div class="col-2 profileimage" >

        <img class="profile" src="assets/images/profile.jpg" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       
</div>

</div>
