<i class="fa fa-step-backward" *ngIf="sourceKey" (click)="nav.back()"></i>
<p-blockUI [target]="pnl" [blocked]="blockedDocument"><i class="pi pi-lock" style="font-size: 3rem"></i></p-blockUI>
<form id="frm_usermaster" [formGroup]="usermaster_Form" (ngSubmit)="onSubmit()" [ngClass]="theme">
  <p-panel #pnl [showHeader]="false">
    <app-title reportcode="" title="Masters" [f]="f" [data]="data" [maindata]="maindata" [p_menuid]="p_menuid"
      [action]="action" (edit)="edit_usermasters()" (first)="first()" (prev)="prev()"
      (onSelectedpk)="onSelectedpk($event)" (next)="next()" (last)="last()" (resetForm)="resetForm()"
      (onSubmit)="onSubmit()" (onDelete)="onDelete()" (onCopy)="onCopy()" (onCopyDetails)="onCopyDetails()"
      (onCopycursive)="onCopyRecursive()" (onClose)="onClose()" (afterAction)="afterAction"
      (onSubmitAndWait)="onSubmitAndWait()" (onChangeAction)="onChangeAction()"></app-title>
    <p-scrollTop></p-scrollTop>
    <p-scrollPanel #panelscroller [style]="maindata?sharedService.dialogScreenSize:sharedService.mainScreenSize"
      styleClass="custom">
      <div class="container1  ui-fluid p-grid"
        id="{{maindata ==undefined || maindata==null || maindata.ScreenType!=2?'contentAreascroll':'contentArea1'}}">
        <div class="w-5" *ngIf="showFormType=='1'" style="margin-top:10px!important">
          <div (click)="PrevForm()"><i title="Form" class="fa fa-file"></i></div>
        </div>
        <div *ngIf="!showview" id="div_usermasters"></div>
        <div *ngIf="showview" id="div_usermasters"></div>
        <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

        </div>
        <p-tabView class="tabset1" [destroyOnHide]="false">
          <div *ngIf="!showview" id="div_usermasters"></div>
          <div *ngIf="showview" id="div_usermasters"></div>
          <div *ngIf="(viewHtml != '' && showview)" [innerHTML]='getHtml(viewHtml)'>

          </div>
          <p-tabPanel header="Master">
            <div class="col-12">
              <p-accordion [multiple]='true'>
                <div class='p-grid griddisplay'>
                  <div *ngIf="hidelist.indexOf('username')<0" class="  p-float-label  p-col-12 p-md-3">

                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.username?.value}}</label>
                    <input type="text" pInputText *ngIf="!showview" id="username" required
                      pTooltip="{{'Enter' | translate}} {{'username' | translate}}" formControlName="username"
                      class="  p-form-control p-inputtext-sm p-field">
                    <label for="username" class="control-label required">{{'User Name' | translate}}</label>
                    <app-field-error-display [displayError]="f.username.errors?.required"
                      errorMsg="{{'Enter'| translate}} {{'User Name' | translate}}">
                    </app-field-error-display>
                  </div>


                  <!--roleid-->

                  <div *ngIf="hidelist.indexOf('roleid')<0" class=" p-float-label  p-col-12 p-md-3">
                    <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
                      class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="roleid"
                      pTooltip="{{'Enter' | translate}} {{'roleid' | translate}}" field="label"
                      [suggestions]="roleid_Suggestions" (onSelect)="onSelected_roleid($event)"
                      (completeMethod)="onEntered_roleid($event)" [dropdown]="true">
                      <ng-template let-roleid pTemplate="item">
                        <div>{{roleid.label}}</div>
                      </ng-template>
                    </p-autoComplete>
                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.roleiddesc?.value}}</label>
                    <label for="roleid" class="control-label required">{{'Role' | translate}}</label>
                    <app-field-error-display [displayError]="f.roleid.errors?.required"
                      errorMsg="{{'Enter'| translate}} {{'Role' | translate}}">
                    </app-field-error-display>
                  </div>
                  <div *ngIf="hidelist.indexOf('email')<0" class="  p-col-12 p-md-12">
                    <label for="email" class="control-label required">{{'Email' | translate}}</label>

                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.email?.value}}</label>
                    <textarea pKeyFilter="email" autosize MinRows="10" MaxRows="15" onlyGrow="true" *ngIf="!showview"
                      id="email" required pTooltip="{{'Enter' | translate}} {{'email' | translate}}"
                      formControlName="email" [rows]="5" [cols]="200" pInputTextarea autoResize="autoResize"
                      class=" p-field p-inputwrapper-filled p-md-12">
</textarea>
                    <app-field-error-display [displayError]="f.email.errors!=null && f.email.errors?.email"
                      errorMsg="Enter valid email">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="f.email.errors?.required"
                      errorMsg="{{'Enter'| translate}} {{'Email' | translate}}">
                    </app-field-error-display>
                  </div>
                  <div *ngIf="hidelist.indexOf('emailpassword')<0" class="  p-float-label  p-col-12 p-md-3">

                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.emailpassword?.value}}</label>
                    <input type="text" pInputText *ngIf="!showview" id="emailpassword"
                      pTooltip="{{'Enter' | translate}} {{'emailpassword' | translate}}" formControlName="emailpassword"
                      class="  p-form-control p-inputtext-sm p-field">
                    <label for="emailpassword" class="control-label">{{'Emailpassword' | translate}}</label>
                  </div>
                  <div *ngIf="hidelist.indexOf('mobile')<0" class="  p-float-label  p-col-12 p-md-3">

                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.mobile?.value}}</label>
                    <int-phone-prefix *ngIf="!showview" id="mobile" required
                      pTooltip="{{'Enter' | translate}} {{'mobile' | translate}}" formControlName="mobile"
                      [locale]="'en'" [defaultCountry]="'ae'"
                      class="  p-form-control phone p-inputtext-sm p-field telephone p-filled ">
                    </int-phone-prefix>
                    <label for="mobile" class="control-label required">{{'Mobile' | translate}}</label>
                    <app-field-error-display
                      [displayError]="f.mobile.errors!=null && f.mobile.errors?.pattern!=null && f.mobile.errors!=undefined && f.mobile.errors.pattern!=undefined  && (f.mobile.touched|| isSubmitted)"
                      errorMsg="Not a valid number">
                    </app-field-error-display>
                    <app-field-error-display
                      [displayError]="f.mobile.errors!=null && f.mobile.errors?.min!=null && f.mobile.errors!=undefined && f.mobile.errors.min!=undefined  && (f.mobile.touched|| isSubmitted)"
                      errorMsg="Minimum value have to be entered">
                    </app-field-error-display>
                    <app-field-error-display
                      [displayError]="f.mobile.errors!=null && f.mobile.errors?.max!=null && f.mobile.errors!=undefined && f.mobile.errors.max!=undefined  && (f.mobile.touched|| isSubmitted)"
                      errorMsg="Maximum value Exceeded">
                    </app-field-error-display>
                    <app-field-error-display [displayError]="f.mobile.errors?.required"
                      errorMsg="{{'Enter'| translate}} {{'Mobile' | translate}}">
                    </app-field-error-display>
                  </div>


                  <!--basegeoid-->

                  <div *ngIf="hidelist.indexOf('basegeoid')<0" class=" p-float-label  p-col-12 p-md-3">
                    <p-autoComplete forceSelection="true" showClear=true *ngIf="!showview"
                      class="p-form-control p-inputtext-sm p-field p-inputwrapper-filled" formControlName="basegeoid"
                      pTooltip="{{'Enter' | translate}} {{'basegeoid' | translate}}" field="label"
                      [suggestions]="basegeoid_Suggestions" (onSelect)="onSelected_basegeoid($event)"
                      (completeMethod)="onEntered_basegeoid($event)" [dropdown]="true">
                      <ng-template let-basegeoid pTemplate="item">
                        <div>{{basegeoid.label}}</div>
                      </ng-template>
                    </p-autoComplete>
                    <label *ngIf="showview" class="labelview p-inputwrapper-filled">{{f.basegeoiddesc?.value}}</label>
                    <label for="basegeoid" class="control-label required">{{'Base Geo' | translate}}</label>
                    <app-field-error-display [displayError]="f.basegeoid.errors?.required"
                      errorMsg="{{'Enter'| translate}} {{'Base Geo' | translate}}">
                    </app-field-error-display>
                  </div>
                </div>
              </p-accordion>
            </div>
          </p-tabPanel>
          <p-tabPanel [disabled]="formid==''?true:false" header="Role Masters">
            <div class="col-12">
              <p-accordion [multiple]='true'>
                <div class='p-grid griddisplay'>
                  <!-- child table userrolemasters-->
                  <div>
                    <!--End-->
                    <div>
                      <a *ngIf="formid" class="rightside" [routerLink]=''
                        (click)="AddOrEdit_userrolemaster(null, null, formid)"><i class="fa fa-plus"></i></a>
                    </div>
                    <div [ngClass]="maindata?.ScreenType==2?'dialogscreen':'mainscreen'">
                      <ngx-reportviewer viewtype="'1'" #tbl_userrolemasters
                        (onExecute)="onExecute_userrolemasters($event)"></ngx-reportviewer>
                    </div>
                  </div>
                  <!--End of child table userrolemasters-->
                </div>
              </p-accordion>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>
      <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop>
    </p-scrollPanel>
  </p-panel>
</form>